*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: Agave, monospace;
  font-size: 15px;
}

label {
  display: block;
  margin: 1em 0;

  font-size: 1.5rem;
}

.tag {
  padding: .25em .25em;
  background-color: antiquewhite;
  border-radius: .25em;
}