.flex {
  display: flex;

  min-height: 6.5em;
  padding: 1em;
  background-color: blanchedalmond;
}

#ex1 {
  flex-direction: row;
  /* flex-direction: column; */

  /* gap: 5em; */

  /* flex-wrap: wrap; */
  /* flex-wrap: wrap-reverse; */
}

#ex2 {
  gap: 5em;
}

#ex2 > * {
  flex-shrink: 1;
  /* flex-shrink: 0; */

  flex-grow: 0;
  /* flex-grow: 1; */
}

#ex3 {
  align-items: stretch;

  /* align-items: flex-start; */
  /* align-items: center; */
  /* align-items: flex-end; */

  justify-content: flex-start;

  /* justify-content: center; */
  /* justify-content: flex-end; */
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  /* justify-content: space-evenly; */
}
